@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans font-normal leading-relaxed text-gray-800;
}

.slideShow img {
  flex-shrink: 0;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideShow img.active {
  opacity: 1;
}